// Open heart reaction style
open-heart {
    margin: var(--card-padding);
    margin-top: 0;
    display: block;  // Center alignment
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid #FFA7B6;
    border-radius: .4em;
    padding: .4em;
  
  }
  open-heart:not([disabled]):hover,
  open-heart:not([disabled]):focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }
  open-heart[disabled] {
    background: #FFA7B6;
    border: 1px solid #FFA7B6;
    cursor: not-allowed;
    color: #fff;
  }
  open-heart[count]:not([count="0"])::after {
    content: attr(count);
    padding: .2em;
  }

// highlight marker
.article-content b,
.article-content strong {
//   position: relative;
//   z-index: 0;
  font-weight: bolder;
  display: inline;
  margin: 0 -0.03em;
  padding: 0 0.2em;
  border-radius: 0.4em 0.2em;
  background: 0 0;
  background-image: linear-gradient(
    to right,
    var(--color-link-light, #efe5fb),
    var(--color-link-superlight, #f1e8f7)
  );
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

// kofi
.kofi-line {
    margin: 3rem 0 3rem;   /* space above/below content */
    text-align: center;
    font-weight: 400;
    opacity: 0.9;
  }
  
  .kofi-link {
    color: var(--color-link, #9a9df3);
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    transition: color 0.2s ease, border-color 0.2s ease;
  }
  
  .kofi-link:hover {
    color: var(--color-link-light, #9cc5f8);
    border-color: transparent;
  }